.list-phone-number {
    list-style-type: none;
}

.list-phone-number:hover {
    background-color: rgba(127, 255, 212, .3);
}

.list-phone-number > span:not(:first-child){
    margin-left: 15px;
}

.list-phone-number-color {
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 50%;
    margin: 2px;
}

.star-phone-number {
    cursor: pointer;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin: 2px;
    background-color: grey;
}

.star-phone-number.selected {
    background-color: gold;
}
